<div class="incident">
  <h4>Incidents  </h4>
   <hr>  
   <div *ngIf="!isScreenSmall(); else showList" class="table-container mat-elevation-z8">
 
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="icon">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let incident">
          <img class="icon-cal" src={{incident.icon}} />
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="datetime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date and Time </mat-header-cell>
        <mat-cell *matCellDef="let incident"> {{incident.datetime | date:'MM/dd/yyyy,hh:mm:ss a'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let incident"> {{incident.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="locationName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Location Name </mat-header-cell>
        <mat-cell *matCellDef="let incident"> {{incident.locationName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Incident Name </mat-header-cell>
        <mat-cell *matCellDef="let incident"> {{incident.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let incident"> {{incident.description}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <ng-template #showList>
    <ul *ngFor="let incident of incidentViewModel">
      <li>
        <img class="icon-cal" src={{incident.icon}} /> {{incident.datetime | date:'MM/dd/yyyy,hh:mm:ss a'}}
        <br> {{incident.locationName}}
        <br> {{incident.name}}
        <br> {{incident.description}}        
      </li>
      <hr>
    </ul>
    
  </ng-template>

</div>